# ------------------------
# Core UI
# ------------------------
streamlit==1.31.1

# ------------------------
# Data Handling
# ------------------------
pandas==2.1.4
numpy==1.26.4
openpyxl==3.1.2

# ------------------------
# Database & ORM
# ------------------------
sqlalchemy==2.0.25

# ------------------------
# Utilities
# ------------------------
python-dateutil==2.8.2
pytz==2023.3
tzdata==2023.4

groq==0.9.0

httpx==0.24.1

# conda activate data-automation